<div  class="footer">   
    <h1 style="margin-top: -35px; padding: 60px;">Organization</h1>
    <p style="margin-top: -35px; padding-left: 60px;">Lorem ipsum dolor sit amet, consectetur adipiscing<br> elit. Aenean malesuada fringilla sem, at dictum <br> lectus ultricies quis.Etiam eu bibendum orci.<br> Aliquam erat volutpat.<br> <br> MORE ABOUT US</p>
    <h2 style=" float: right;margin-top: -215px; margin-right: 910px;"> Services</h2>
    <p  style=" float: right;margin-top: -130px; margin-right: 850px; cursor: pointer;" >
    
    Mobile Application<br><br>
    Web Application<br><br>
    Internet of Things<br><br>
    Insurance Consulting<br><br>
    Retirenment Planing<br><br>
    Tax Planing<br><br>
    </p> 
    <h2 style="float: right;padding-right: 410px; margin-top: -328px; ">Contact Us</h2>
    <div  style="float: right;padding-right: 250px; margin-top: -274px; cursor: pointer; ">
      <p > 
        <!-- <mat-icon mat-dialog-close title="Close" >location_on</mat-icon> -->
        Apple St, New York, NY 10012, USA </p><br>
   
  <p style="margin-top: -20px; ">  
    <!-- <mat-icon mat-dialog-close title="Close" >phone</mat-icon> -->
    ( 018) 65 524 8503 / (125) 954 7854</p><br>
   
  <p style="margin-top: -20px; "> 
    <!-- <mat-icon mat-dialog-close title="Close" >mail_outline</mat-icon> -->
    www.pacewisdom.com</p><br>
       
      </div>
        <div style="clear: both"></div>

</div>