<app-header></app-header>
<div class="listMain">
    
<table class="content-table">
    <thead>
        <tr>
            <th *ngFor="let tableHeader of employeeHeader">{{tableHeader}}</th>       
        </tr>
    </thead>
    <tbody>
   
    <tr (click)="EmployeeSelected(tableValue)" *ngFor="let tableValue of employees">
      <td >{{tableValue.id}}</td>
      <td >{{tableValue.name}}</td>
      <td >{{tableValue.Email}}</td>
      <td >{{tableValue.phone}}</td>
    </tr>
   
    </tbody>
</table>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-footer></app-footer>